@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed';

@color-accent     : #F17144;
@color-text-body  : darken(@color-accent,10%);

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  line-height: 1.52;
  color: #2A2B2A;
  background-color: #F8F4E3;
  text-rendering: optimizeLegibility;
  margin: 0 4vw;
}
#content {
  width: 92vw;
  @media only screen and (min-width: 37.5em) {
    width: 62vw;
  }
}
#intro, header {
  p:first-of-type {
    font-weight: 700;
    font-size: ~"calc(16px + .7vw)";
    line-height: 1.3;
  }
}
p {
  line-height: 1.5;
  font-size: ~"calc(12px + .5vw)";
  margin: 0 0 1rem 0;
  &.lead {
    color: #000;
  }
}
header {
  margin-bottom: 2rem;
  h1 {
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: .1vw;
    font-size: ~"calc(22px + 2vw)";
    line-height: 1.2;
    text-transform: uppercase;
  }
}
section {
	border-top: .15rem solid transparent;
	border-image: 100% 0 0 linear-gradient(90deg, currentColor 25vw, transparent 0);
	padding-top: .5rem;
}

// Fancy link underlines

a {
  color: @color-text-body;
  font-weight: 700;
  text-decoration: none;
  background-image: linear-gradient(desaturate(@color-accent, 0.25) 0%, @color-accent 100%);
  background: linear-gradient(135deg, @color-accent, @color-accent);
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 95%;
  @media (-webkit-min-device-pixel-ratio: 1.75),
  (min-resolution: 168dpi) {
    background-image: linear-gradient(desaturate(@color-accent, 0.25) 0%, @color-accent 100%);
    background-position: 0 93%;
  }
  text-shadow: 3px 0 white, 2px 0 white, 1px 0 white, -1px 0 white, -2px 0 white, -3px 0 white;
  &:hover {
    color: darken(@color-accent, 30%);
    background-image: linear-gradient(to bottom, darken(@color-accent, 30%) 0%, darken(@color-accent, 30%) 100%);
  }
  &,
  > * {
    &::selection {
      background-color: lighten(@color-accent, 65%);
      color: @color-text-body;
      text-shadow: none;
    }
    &::-moz-selection {
      background-color: lighten(@color-accent, 65%);
      color: @color-text-body;
      text-shadow: none;
    }
  }
}
